BTBLib/bin/Debug/
BTBLib/obj

BtbUI/bin/Debug/
BtbUI/obj

BtbUI/bin/Release/BtbUI.vshost.exe
*.config
*.manifest
BtbUI/bin/Release/BTBLib.pdb
BtbUI/bin/Release/BtbUI.pdb
BTBLib/.vs/BTBEdit/v14/.suo
*.suo

BTBLib/.vs/
BtbUI/.vs/

BTBLib.pdb
